<!DOCTYPE html>
<html lang="en">
<head>
    <title> Madlibs Game</title>
    <link rel="stylesheet" href="/static/css/madlib.css">

</head>
<body>
<label for="colors">[Choose a color:]</label>
<form action = "madlib"> 
<select name="color" id="color">
  <option value="red">red</option>
  <option value="blue">blue</option>
  <option value="green">green</option>
  <option value="purple">purple</option> 

  <input type = "text" name = "noun"> <label> Noun </label><br>
  <input type = "text" name = "adj"> <label> Adj </label><br>
  <input type = "text" name = "person"> <label> Person </label><br>

  <button type = "submit">sumbit</button>
</select>

</form>  
</body>
</html>